.task-detail {
  .task-detail-container {
    position: relative;

    .go-back {
      position: absolute;
      right: 0.6rem;

      .go-back-icon {
        margin-right: 0.33rem;
      }
    }
  }
}
