.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .login-form {
    border: 1px solid red;
    padding: 20px;
    width: 400px;

    .login-button {
      width: 100%;
    }
  }

  .error-info {
    color: red;
  }
}
