.layout {
  min-height: 100%;
  width: 100%;

  .sider {
    .logo {
      display: inline-block;
      overflow: hidden;
      height: 5.33rem;
      line-height: 5.33rem;
      text-align: center;
      color: #fff;
    }
  }

  .header {
    padding: 0 1.33rem;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .trigger {
      font-size: 1.5rem;
      line-height: 5.33rem;
      cursor: pointer;
      transition: color 0.3s;

      &:hover {
        color: #1890ff;
      }
    }

    .user-profile {
      .user-avatar {
        margin-right: 0.66rem;
      }

      .logout {
        margin-left: 0.66rem;
        cursor: pointer;
      }
    }
  }

  .content {
    margin: 1.2rem;
    min-height: 23.33rem;
    padding: 2rem;
    background: #f9fafb;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-basis: 100%;
  }

  .footer {
  }
}
