.layout {
  min-height: 100%;
  width: 100%;

  .sider {
    .logo {
      display: inline-block;
      overflow: hidden;
      height: 64px;
      line-height: 64px;
      text-align: center;
      color: #fff;
    }
  }

  .header {
    padding: 0 16px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .trigger {
      font-size: 18px;
      line-height: 64px;
      cursor: pointer;
      transition: color 0.3s;

      &:hover {
        color: #1890ff;
      }
    }

    .user-profile {
      .user-avatar {
        margin-right: 8px;
      }

      .logout {
        margin-left: 8px;
        cursor: pointer;
      }
    }
  }

  .content {
    margin: 24px 16px;
    min-height: 280px;
    padding: 24px;
    background: #f9fafb;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-basis: 100%;
  }

  .footer {
  }
}
