.game-template-detail {
  .game-template-detail-container {
    position: relative;

    .go-back {
      position: absolute;
      right: 0.66rem;

      .go-back-icon {
        margin-right: 0.33rem;
      }
    }

    .radio-container {
      text-align: center;
    }
  }
}
